body {
    background: #f0f2f5;
    color: #2e2e2e;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.report-container {
    max-width: 950px;
    margin: 20px auto;
    background: #ffffff;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
}

.logo {
    width: 90px;
    height: 60x;
}

h1 {
    font-size: 1.5rem;
    color: #1a1a1a;
    font-weight: bold;
}

.toc {
    background: #e0ecf8;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 32px;
    border-left: 6px solid #f57c00;
}

.toc h2 {
    color: #1a1a1a;
    font-size: 1.15rem;
    margin-top: 0;
}

.toc ol {
    color: #333;
    padding-left: 25px;
}
.toc ol li span {
    color: #1a1a1a;
    font-weight: 500;
    font-size: 1.05em;
}

section {
    margin-bottom: 32px;
}

h3 {
    color: #2264c7;
    margin-bottom: 16px;
    font-size: 1.1rem;
    font-weight: bold;
    /*border-bottom: 2px solid #f57c00;*/
    display: inline-block;
    padding-bottom: 4px;
}

.section-desc {
    font-size: 0.98em;
    color: #5e5e5e;
    margin-bottom: 10px;
}

.map-section {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 18px;
}

thead th {
    background: #2264c7;
    color: #fff;
    padding: 10px 7px;
    font-weight: bold;
    border: 1px solid #d0d0d0;
}

tbody td {
    background: #f9f9f9;
    border: 1px solid #ddd;
    color: #333;
    padding: 7px;
    vertical-align: middle;
    text-align: center;
    font-size: 0.98em;
}

tbody td:first-child {
    text-align: left;
}

tbody img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 5px;
    /*border: 2px solid #f57c00;*/
}

tbody tr:nth-child(even) td {
    background: #f1f5fb;
}

#final-info .special {
    background: #ffe0b2 !important;
    color: #bf360c;
    font-weight: 500;
    border-left: 4px solid #f57c00;
    padding-left: 8px;
}

#final-info .crossed {
    color: #c03c9f !important;
    text-decoration: line-through;
    background: #f9f9f9 !important;

}

#final-info .bold {
    font-weight: bold;
    color: #f57c00;
}

@media (max-width: 800px) {
    .report-container {
        padding: 8px;
    }
    table, thead, tbody, th, td, tr {
        font-size: 0.93em;
    }
    .logo {
        width: 40px;
        height: 40px;
    }
}
